* {
    font-family: consolas;
    font-size: 16px;

}

body {
    background-color: rgb(73, 55, 90);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.221);
    padding: 10px;
    align-content: center;
}